@{
    ViewBag.Title = "Página principal";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <center><h1>¡Bienvenido @User.Identity.Name!</h1></center>
                @*<h2>@ViewBag.Message</h2>*@
            </hgroup>
            <p>
               
            </p>
        </div>
    </section>
}
<h3>Le sugerimos lo siguiente:</h3>
<ol class="round">
    <li class="one">
        <h5>Introducción</h5>
        Administra tus productos en nuestra sección de productos!
    </li>

    <li class="two">
        <h5>Reportes</h5>
        Buscas reportes? 
        Se encuentra en nuestra sección de membresías/productos/material.
    </li>

    <li class="three">
        <h5>¿Tiene problemas?</h5>
        Porfavor visite nuestra sección de "Contacto", donde se encuentran todas las opciones para contactarnos.
    </li>
</ol>
