@{
    ViewBag.Title = "Página principal";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <center><h1>¡Bienvenido @User.Identity.Name!</h1></center>
                @*<h2>@ViewBag.Message</h2>*@
            </hgroup>
            <p>
               
            </p>
        </div>
    </section>
}
<h3>Le sugerimos lo siguiente:</h3>
<ol class="round">
    <li class="one">
        <h5>Introducción</h5>
        ASP.NET MVC ofrece una manera eficaz basada en patrones de crear sitios web dinámicos que
        permite llevar a cabo una clara separación de aspectos y proporciona control sobre el marcado
        para un desarrollo más ágil y atractivo. ASP.NET MVC incluye numerosas características que ofrecen
        un entorno rápido y compatible con TDD para crear aplicaciones sofisticadas que utilicen
        los estándares web más recientes.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Más información…</a>
    </li>

    <li class="two">
        <h5>Agregar paquetes NuGet y poner en marcha su codificación</h5>
        NuGet facilita la instalación y actualización de herramientas y bibliotecas gratuitas.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Más información…</a>
    </li>

    <li class="three">
        <h5>¿Tiene problemas?</h5>
        Porfavor visite nuestra sección de "Contacto", donde se encuentran todas las opciones para contactarnos.
    </li>
</ol>
