@model Gymware.Models.ItemMaterial

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Seguro que desea eliminar esto?</h3>

<fieldset>
    <legend>ItemMaterial</legend>

    <div>
        <br />
        <span class="label">Material:</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Material.Nombre)</a></span>
    </div>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Condiciones)</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Condiciones)</a></span>
    </div>
</fieldset>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
